<!DOCTYPE html>
<html>
  <head>
    <title>FlicksRev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= image_tag("logo.png") %>
      <ul>
        <li>
          <%= link_to "All Movies", root_path %>
        </li>
      </ul>
    </nav>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Copyright &copy; Mai Khuu, <%= Time.now.year %>
      </p>
    </footer>
  </body>
</html>
